<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Lista de Servicios</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Cliente</th>
              <th>Vehiculo</th>
              <th>Fecha Entrada</th>
              <th>Fecha Salida</th>
              <th>Observaciones</th>
              <th>Diagnostico</th>
            </thead>
            <tbody>
              <tr>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td>Oud-Turnhout</td>
                <td>$36,738</td>
                <td>Oud-Turnhout</td>
                <td>$36,738</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>